{
    extends: ['airbnb'],
    parser: 'babel-eslint',
    plugins: ['react'],
    rules: {
        # Auto detect arrow body style
        arrow-body-style: [2, 'as-needed'],

        # Always use parentheses around arrow function
        arrow-parens: [2, 'always'],

        # Disable trailing comma
        comma-dangle: [2, 'never'],

        # Use indent with 4 spaces
        indent: [2, 4, {VariableDeclarator: {var: 2, let: 2, const: 2}, SwitchCase: 1}],

        # Use single quote in jsx attributes
        jsx-quotes: [2, 'prefer-single'],

        # Enforce spaces inside template literals
        template-curly-spacing: [2, 'always'],

        # Use space inside curly brace
        react/jsx-curly-spacing: [2, 'always'],

        # Use indent with 4 spaces for jsx
        react/jsx-indent: [2, 4],

        # Allow .js & .jsx extension
        react/jsx-filename-extension: [2, { 'extensions': ['.js', '.jsx'] }],

        # Detect missing key prop
        react/jsx-key: 2
    },

    env: {
        es6: true,
        browser: true,
        node: true
    },

    parserOptions: {
        ecmaVersion: 6,
        sourceType: 'module',
        ecmaFeatures: {
            jsx: true
        }
    }
}
